body{
    background: #E9C46A;
}

header{
    background: #264653;
    padding: 40px 0;
}

.title-principal{
    font-size: 30px;
    text-align: center;
    color: #E76F51;
}

#fruitAndVegetables{
    margin: 2% 5% 3% 10%;
    width: 40%;
    height: 30%;
}

Section{
    padding: 1% 2% 2% 2%;
}

.apresentation{    
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 40%;
    height: 30%;
}

#BuyProducts a{
    padding: 800px 0 0 190px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;

}

#BuyProducts a:hover{
    text-decoration: underline;
    padding: 800px 0 0 190px;
    font-size: 25px;
    font-weight: bold;
    color: #E76F51;
}

p {
    margin-left: -8%;
    font-size: 22px;
    vertical-align: top;
}   

#definicao{
    font-size: 20px;
}

em strong{
    color: #264653
}

a{
    color: #000000;
}

button{
    background: #CCCCCC;
}

.itens{
    font-style: italic;
}

.articleItens{
    background-color: #264653;
    padding: 3%;
}

.title-center1{
    color: #E76F51;
    margin: 20px 0 0 0;
    font-size: 26px;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0,5px;
}

.title-center2{
    color: #E76F51;
    margin: 0 0 25px 0;
    font-size: 26px;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0,5px;
}

.imageFruit{
    border: #E76F51 solid 2vh;
    height: 50vh;
    width: 50vh;
    margin-left: 8%;
}

ul{
    display: inline-block;
    vertical-align:  top;
    font-size: large;
    width: 20%;
    margin-right: 3%;
    margin-left: 4%;
}

ul li{
    font-size: 22px;
    color: #FFFFFF;
}

.imageItem{
    border: #E76F51 solid 2vh;
    width: 20vw;
    height: 20vw;
    margin-top: 10%;
    margin-left: -11%;
}

.imageVegetable{    
    border: #E76F51 solid 2vh;
    height: 50vh;
    width: 50vh;
}

footer{
    text-align: center;
    background: #E9C46A;
    padding: 40px 0;
}

.logoFooter{
    width: 90px;
    height: 80px;
}

.copyright{
    font-size: 15px;
    margin: 20px 0 0 ;
    font-weight: bold;
}