main{
    background: #E9C46A
}

header{
    background: linear-gradient(#264653,#E9C46A);
}

.imageLogo{
    border: #000000 solid 1px;
    width: 13em;
    height: 11em;
    margin: 3em;

}

.imageLogo:hover{
    transform: scale(1.1);
}

.box{
    position: relative;
    width: 940 px;
    margin: 0 50px;
}

nav{
    position: absolute;
    top: 18vh;
    right: 1vw;
}

nav li{
    display: inline;
    margin: 0 0 0 25px;

}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

nav a:hover{
    color: #E76F51;
    text-decoration: underline;
}

.title-principal{
    font-size: 30px;
    text-align: center;
    color: #E76F51;
}

.imageFruitAndVegetables{
    opacity: 0.8;
    box-shadow: 10px 10px 5px #000000;
    /*border: #E76F51 solid 1vh;*/
    margin: 2% 5% 3% 8%;
    width: 40%;
    height: 30%;
}

Section{
    padding: 1% 2% 2% 2%;
}

.apresentation{    
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 40%;
    height: 30%;
}

#BuyProducts a{
    padding: 800px 0 0 190px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;

}

#BuyProducts a:hover{
    text-decoration: underline;
    padding: 800px 0 0 190px;
    font-size: 25px;
    font-weight: bold;
    color: #E76F51;
}

p {
    margin-left: -8%;
    font-size: 22px;
    vertical-align: top;
}   

#definicao{
    font-size: 20px;
}

em strong{
    color: #264653
}

a{
    color: #000000;
}

button{
    background: #CCCCCC;
}

.itens{
    font-style: italic;
}

.articleItens{
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(#E9C46A,#264653);
    padding: 3%;
}

.title-center1{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color: rgba(231,111,81,0.8);
    margin: 20px 0 0 0;
    font-size: 26px;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0,5px;
}

.title-center2{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    margin: 0 0 25px 0;
    font-size: 26px;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0,5px;
}

.imageFruit{
    border: #E76F51 solid 1vh;
    height: 50vh;
    width: 50vh;
    margin-left: 8%;
}


.characteristics{
    display: inline-block;
    vertical-align:  top;
    font-size: large;
    width: 20%;
    margin-right: 3%;
    margin-left: 4%;
}

.itens-characteristics{
    line-height: 1.5em;
}

.itens-characteristics::before{
    content: "🍎 " ;
}

.itens-characteristics:first-child{
    font-size: 18px;
    font-weight: bold;
    color: #264653;
    text-transform: uppercase;
}


ul li{
    font-size: 22px;
    color: #000000;
}

.imageItem{
    border: #E76F51 solid 1vh;
    width: 20vw;
    height: 20vw;
    margin-top: 10%;
    margin-left: -8%;
}

.imageVegetable{    
    border: #E76F51 solid 1vh;
    height: 50vh;
    width: 50vh;
}


.map{
background: linear-gradient(#264653,#264653);
}


.map p{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 0  auto;
    padding: 0 0 1.5em;
}

.mapFrame{
    width: 940 px;
    margin-left: 18em;
}

.title-center3{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: #E76F51;
    margin: 20px 0 0 0;
    font-size: 28px;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0,5px;
}

.videoAgro{
    background: linear-gradient(#264653,#E9C46A);
}

.video{
    box-shadow: 10px 10px 5px #000000;
    width: 560px;
    height: 315px;
    margin: 0 auto;
}


footer{
    text-align: center;
    background: #E9C46A;
    padding: 40px 0;
}

table{
    display: inline-block;
    position: relative;
    margin: 0 15% 0 0;
}

thead{
    opacity: 0.8;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

td, th{
    opacity: 0.8;
    font-family: 'Indie Flower', cursive;
    padding: 4px 10px;
}


.logo-copy{
    display: inline-block;
    padding-right: 25em;
}

.logoFooter{
    opacity: 0.8;
    width: 90px;
    height: 80px;
}

.copyright{
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1em;
}